.header{
position:absolute;
width: 100%;
height: 51px;
background: #56ccf2;
}
.logo{
position: relative;
left: 30px;
top: 10px;
width: 39px;
height: 39px;
background: #121111;
border-radius: 50%;
}
.logotext{
position: relative;
left: 40px;
top: 10px;
width: 125px;
height: 26px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size:14px;
color: #000000; 
}
.menu{
position: relative;
width: 125px;
height: 26px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size:14px;
color: #000000;
}
.menu1{
position: relative;
left: 600px;
top: -15px;
}
.menu2{
position: relative;
left: 700px;
top: -30px;
}
.menu3{
position: relative;
left:795px;
top: -45px;
}
.slider{
background-image:url(file:///C:/wamp64/www/figma/images/01.jpg); 
background-size:cover;
background-repeat: no-repeat;
background-position: center;
position:relative;
top:13px;
width: 100%;
height: 300px;
border: 1px solid black;
}
.body{
background-image:url(file:///C:/wamp64/www/figma/images/bg.jpg); 
background-size:cover;
background-position:center;
background-repeat: no-repeat;
position:relative;
top:13px;
width: 100%;
height: 350px;
border: 0px solid black;
}
.text{
width: 100px;
height: 34px;
Font-Family: Raleway;
Font-Style: Bold;
Font-Size: 36px;
Line-Height: 42px;
Align: Left; 
color: #ffffff;
}
#txt1{
position:relative;
top: 180px; 
left:30%; 
}
#txt2{
position:relative;
top: 150px; 
left:50%;
}
#txt3{
position:relative;
top: 120px; 
left:73%;
}
.footer{
position:fixed;
bottom:0;
width: 100%;
height: 51px;
background: #000000;
}
.footer-text{
position: relative;
left: 40px;
top: 10px;
width: 400px;
height: 26px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size:14px;
color: #ffffff;
}